__pycache__
output*
cache_*.pkl
cost-logs
*.blend
.vscode/*
*.DS_Store
.idea/
**/keys
*.so
*.zip
*.glb
*.pyc
*.ply
*.pdf
*.pk
*.pt
*.pth
*.onnx
.api_keys*
Genesis/**/*.pkl
*.egg-info*
logs
Genesis/genesis/assets/ViCo
sentinel_challenge/results*
chat_raw*.jsonl
assets/scenes/*/raw/
assets/scenes/*/gpt_cache/
assets/scenes/*/agents_num_15_with_schedules
assets/imgs/*
!assets/imgs/teaser.png
!assets/imgs/avatars/
turn_into_xlsx.py
scp.sh
step_*_path.png
waypoints_animation*.gif
*.xlsx
tmp.json
visualization
mv.py
results*
replay_output*
videos/
*_interactive.sh
cancel_experiment.sh
tmp.sh
sentinel_challenge/checkpoints*
sentinel_challenge/demo_output
.tex
run_method.sh
run_scene_*.sh
